<footer class="footer">
    <div class="content has-text-centered">
        <p>All the rights reserved to <strong>Layoop</strong> &copy;</p>
    </div>
</footer>   
<script src="assets/bulma.js"></script>
</body>

</html>