{{> head }}
{{> navbar }}

<div class="hero is-dark is-fullheight">
    <div class="hero-body">
        <div>
            <h4 class="heading">About us</h4>
            <h1 class="title">Searching for the best <strong>Experience</strong></h2>
                <h3 class="subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id qui consequuntur
                    distinctio,
                    nemo aut aliquid possimus eaque eius natus praesentium doloribus voluptas vel numquam,
                    cupiditate
                    quas minus
                    quam! Explicabo, cupiditate.</h3>
        </div>
    </div>
</div>


<div class="section">
    <div class="columns">
        <div class="column">
            <img class="col-img" src="assets/city.jpg" alt="City Image">
        </div>

        <div class="column">
            <h2 class="title">City of your dreams</h2>
            <h3 class="subtitle">New York City</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit corrupti necessitatibus voluptates,
                eum
                dolorem ducimus assumenda provident, laborum consectetur tempore blanditiis. Odit eligendi sed
                explicabo
                necessitatibus repudiandae maxime, minus quo.</p>
        </div>
    </div>
</div>


{{> footer }}